.client-list {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.client-list h2 {
  margin-bottom: 1rem;
}

.client-list ul {
  list-style-type: none;
  padding: 0;
}

.client-list li {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.client-list a {
  color: #3498db;
  text-decoration: none;
  transition: color 0.3s;
}

.client-list a:hover {
  color: #2980b9;
}

.new-client-button {
  display: inline-block;
  background-color: #3498db;
  color: white !important; /* Forzamos el color blanco */
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  text-decoration: none;
  margin-top: 1rem;
  transition: background-color 0.3s;
}

.new-client-button:hover {
  background-color: #2980b9;
}

.delete-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #c0392b;
}